@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --btn: #f7dc6f;
  --btn-hover: #eb984e;
  --text-light: #ecf0f1;
  --text-dark: #313131;
  --primary-color: rgb(121, 135, 221, 0.9);
  --cards-color: rgba(247, 220, 111, 0.9);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 15px;
  line-height: 1.6;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: var(--text-dark);
}

p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 20px;
}

/* Utility classes */
.btn {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--main-font);
  margin-top: 10px;
  background-color: var(--btn);
  color: #313131;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn-card {
  display: none;
  opacity: 0;
  font-size: 16px;
  padding: 8px 15px;
  background: transparent;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  color: var(--text-dark);
  font-weight: 500;
  font-family: var(--main-font);
  margin-top: 15px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  cursor: pointer;
  text-decoration: none;
}

.btn-card:hover {
  -webkit-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.btn:focus,
.btn:active,
.btn-card:active,
.btn-card:focus {
  outline: none;
}

/* Header */

header {
  background: url(img/main-bg.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  color: var(--text-light);
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #313131;
  opacity: 70%;
}

.header-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.gh-link {
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: var(--primary-color);
  margin: 40px;
  position: absolute;
  left: 0;
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 5px;
  z-index: 3;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.gh-link:hover {
  border: 2px solid var(--primary-color);
}

.arrow {
  position: absolute;
  bottom: 40px;
  color: var(--text-light);
}

.arrow:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* Section */
#projects {
  background-color: rgb(43, 39, 39);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7px 1fr 7px 1fr 7px 1fr 7px 1fr;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px 20px;
  grid-gap: 7px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: var(--text-light);
  border-radius: 2px;
  position: relative;
}

.card img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  display: block;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 20%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #313131;
}

.card:hover .card-content {
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: var(--cards-color);
}

.card:hover .btn-card {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

/* Footer */
footer {
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 20px 40px;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h3 {
  color: var(--text-light);
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.btn-footer {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn-footer:hover {
  -webkit-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
  opacity: 0.8;
}

.gh-footer {
  color: var(--btn);
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 5px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.gh-footer:hover {
  border: 2px solid var(--btn);
}

span {
  color: #d0d3d4;
  opacity: 30%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 14px;
}

span a {
  color: #d0d3d4;
}

/* Tablet & Mobile */

@media (max-width: 1050px) {
  h2 {
    font-size: 16px;
  }
  .arrow {
    bottom: 70px;
  }
  .header-content {
    padding: 20vw;
  }
}
@media (max-width: 800px) {
  #projects {
    -ms-grid-columns: 1fr 7px 1fr 7px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-content {
    padding: 13vw;
  }
}
@media (max-width: 700px) {
  #projects {
    -ms-grid-columns: 1fr 7px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  span {
    margin-top: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 28px;
    padding: 0 15vw;
  }
  p,
  .btn {
    font-size: 18px;
  }
  #projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  .header-content {
    padding: 10vw;
  }
  footer {
    padding: 25px 20px;
  }
  span {
    margin-top: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
